@media (max-width: 659.98px) {

	.container {
		width: 100%;
		height: 100%;
	}

	header {
		height: 80px;
	}

	.header-block {
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		width: 90%;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-left: 30px;
		gap: 10px;
		padding: 0;
	}

	.main-header__form {
		display: table-row;
		margin: 0;
		margin-bottom: 30px;
		gap: 10px;
		width: 100%;
	}

	.form-search {
		max-width: 400px;
	}

	.indent {
		border-top: 1px solid #ffffff;
	}

	.main-recommendations__text {
		margin-left: 30px;
	}

	.ads-list {
		margin-left: 30px;
	}
}

@media (max-width: 665.98px) {
	.container {
		width: 100%;
		height: 100%;
	}

	.header-block {
		margin-right: 30px;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-left: 30px;
		gap: 10px;
	}

	.main-header__form {
		display: table-row;
		margin: 0;
		margin-bottom: 30px;
		gap: 10px;
		width: 100%;
	}

	.form-search {
		max-width: 650px;
	}

	.main-recommendations__text {
		margin-left: 5px;
	}

	.ads-list {
		margin-left: 5px;
	}
}

@media (max-width:995.98px) {
	.container {
		width: 100%;
		height: 100%;
	}

	.header-block {
		margin-right: 30px;
	}

	.main-header__categories p {
		line-height: 1;
	}

	.main-header__form {
		flex-direction: column;
	}

	.form-search {
		width: 990px;
	}

	.form-search__button {
		width: 100px;
		padding: 7px;
	}

	.main-recommendations__text {
		margin-left: 4px;
	}

	.ads-list {
		margin-left: 4px;
	}
}

@media (max-width:1239.98px) {
	.header-block {
		margin-right: 30px;
	}

	.main-header__form {
		flex-direction: column;
	}

	.form-search__button {
		width: 100px;
		padding: 5px;
	}

	.main-recommendations__text {
		margin-left: 5px;
	}

	.ads-list {
		max-width: 996px;
		margin-left: 5px;
	}
}